[submodule "Frienemy/Libraries/MagicalRecord"]
	path = Frienemy/Libraries/MagicalRecord
url=git@github.com:plushdevelopment/MagicalRecord.gitMagicalRecord.git
[submodule "Libraries/facebook"]
	path = Libraries/facebook
	url = git://github.com/facebook/facebook-ios-sdk.git
